
<nav class="nav">
    <div class="nav-logo">
        <img src="" alt="">
    </div>
    <div class="nav-menu">
        <ul>
            <a href="/"><li>Home</li></a>
            <a href="/champions"><li>Champions</li></a>
        </ul>
    </div>
</nav>
