<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/champs.css">
</head>
{{> nav }}
    <div class="champs-container">
        {{#each champs}}
        <div class="champ-card">
            <h3>{{name}}: {{key}}</h3>
            <a href="/champions/{{@key}}">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.11.1/img/champion/{{image.full}}" alt="">
            </a>
        </div>
        {{/each}}
    </div>
    
</body>
</html>

